# NEKO_OSX_URL      = "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-osx64.tar.gz"
# NEKO_WINDOWS_URL  = "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-win64.zip"
# NEKO_LINUX_URL    = "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-linux64.tar.gz"
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
export BERTHA_PATH="${SCRIPT_DIR}"
echo "${BERTHA_PATH}"


if [[ "$OSTYPE" == "linux-gnu"* ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-linux64";
  ${BERTHA_PATH}/.local/bertha/i/src/bertha/meta/install/linux.sh ${NEKO_VERSION_STRING}
  PATH_add "${BERTHA_PATH}/.local/bertha/o/os/linux/prg/${NEKO_VERSION_STRING}"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-osx64";
  "${BERTHA_PATH}/.local/bertha/i/src/bertha/meta/install/darwin.sh" ${NEKO_VERSION_STRING}
elif [[ "$OSTYPE" == "cygwin" ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-win64"
  "${BERTHA_PATH}/.local/bertha/i/src/bertha/meta/install/windows.sh" ${NEKO_VERSION_STRING}
elif [[ "$OSTYPE" == "msys" ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-win64"
  "${BERTHA_PATH}/.local/bertha/i/src/bertha/meta/install/windows.sh" ${NEKO_VERSION_STRING}
elif [[ "$OSTYPE" == "win32" ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-win64"
  "${BERTHA_PATH}/.local/bertha/i/src/bertha/meta/install/windows.sh" ${NEKO_VERSION_STRING}
else
  throw "unsupported platform, please report issue at https://github.com/ohmrun/bertha"
fi


if ! [ -s $HOME/.config/bertha.env ]; then
  echo "BERTHA_DIR=$BERTHA_DIR" > $HOME/.config/bertha.env
fi
