# NEKO_OSX_URL      = "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-osx64.tar.gz"
# NEKO_WINDOWS_URL  = "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-win64.zip"
# NEKO_LINUX_URL    = "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-linux64.tar.gz"
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
export BERTHA_PATH="${SCRIPT_DIR}"
echo "${BERTHA_PATH}"


if [[ "$OSTYPE" == "linux-gnu"* ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-linux64";
  NEKO_REMOTE_FILENAME="${NEKO_VERSION_STRING}.tar.gz"
  NEKO_TGT=$( direnv fetchurl "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/${NEKO_REMOTE_FILENAME}" "sha256-Jt2ijQpRQH8mIYupwsNVyOsjzysLYXJ0sA5LkXD+aes=")
  #echo $NEKO_TGT;
  mv -n "${NEKO_TGT}" "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}"
  tar -xzf "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}" --directory "${BERTHA_PATH}/.local/bertha/i/os/linux/prg"
  PATH_add "${BERTHA_PATH}/.local/bertha/i/os/linux/prg/${NEKO_VERSION_STRING}"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-osx64";
  NEKO_REMOTE_FILENAME="${NEKO_VERSION_STRING}.tar.gz"
  NEKO_TGT=$(direnv fetchurl "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/${NEKO_REMOTE_FILENAME}" "sha256-CEhTnD+Mbdz2IQmfycUme9yB2sm1AJqegqq04ZZRPh0=")
  mv -n "${NEKO_TGT}" "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}"
  tar -xzf "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}" --directory "${BERTHA_PATH}/.local/bertha/i/os/darwin/prg"
  PATH_add "${BERTHA_PATH}/.local/bertha/i/os/darwin/prg/${NEKO_VERSION_STRING}"
elif [[ "$OSTYPE" == "cygwin" ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-win64";
  NEKO_REMOTE_FILENAME="${NEKO_VERSION_STRING}.zip"
  NEKO_TGT=$(direnv fetchurl "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/${NEKO_REMOTE_FILENAME}" "sha256-0J/fNizS4ydPbIUovnIRZjJgw6UyPOiTt2N8KBiZXws=")
  mv -n "${NEKO_TGT}" "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}"
  #Windows 10 build 17063 or later 
  tar -xf "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}" --directory "${BERTHA_PATH}/.local/bertha/i/os/windows/prg"
elif [[ "$OSTYPE" == "msys" ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-win64";
  NEKO_REMOTE_FILENAME="${NEKO_VERSION_STRING}.zip"
  NEKO_TGT=$(direnv fetchurl "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/${NEKO_REMOTE_FILENAME}" "sha256-0J/fNizS4ydPbIUovnIRZjJgw6UyPOiTt2N8KBiZXws=")
  mv -n "${NEKO_TGT}" "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}"
  #Windows 10 build 17063 or later 
  tar -xf "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}" --directory "${BERTHA_PATH}/.local/bertha/i/os/windows/prg"
elif [[ "$OSTYPE" == "win32" ]]; then
  NEKO_VERSION_STRING="neko-2.3.0-win64";
  NEKO_REMOTE_FILENAME="${NEKO_VERSION_STRING}.zip"
  NEKO_TGT=$(direnv fetchurl "https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/${NEKO_REMOTE_FILENAME}" "sha256-0J/fNizS4ydPbIUovnIRZjJgw6UyPOiTt2N8KBiZXws=")
  mv -n "${NEKO_TGT}" "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}"
  #Windows 10 build 17063 or later 
  tar -xf "${BERTHA_PATH}/tmp/${NEKO_REMOTE_FILENAME}" --directory "${BERTHA_PATH}/.local/bertha/i/os/windows/prg"
else
  throw "unsupported platform, please report issue at https://github.com/ohmrun/bertha"
fi
