{
  :paths [
    "./.local/share/bertha/i/src/main/bb/"
  ]
  :deps {ohmrun/bertha {:local/root "."}}
  :tasks
  {
    :requires ([bertha.util]) 
    localhost.os.arch (println (bertha.util/localhost.os.arch))
    localhost.os.name (println (bertha.util/localhost.os.name))
    namespaces (print (all-ns))
    device.info (println (bertha.util/device.info))
    bertha.path (println (bertha.util/bertha.path))
    bertha.install bertha.install/main
    bertha.softlink (bertha.util/bertha.softlink)
  }
}
;; java.nio.file.Files/createSymbolicLink