{
  :paths [
    "./.local/bertha/i/src/main/bb/"
  ]
  :tasks
  {
    :requires ([bertha.util]) 
    localhost.os.arch (println (bertha.util/localhost.os.arch))
    localhost.os.name (println (bertha.util/localhost.os.name))
    namespaces (print (all-ns))
  }
}